.git
.github
.githooks
.gitignore
node_modules
frontend/node_modules
dist
frontend/dist
tests
frontend/src/**/__tests__
src/**/*.test.ts
docs
*.md
!LICENSE
.env*
.biome*
.editorconfig
playwright.config.ts
playwright.screenshots.config.ts
vitest.config.ts
frontend/vitest.config.ts

coverage
